@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes fadeIn {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

:root {
	--green: #1db954;
	--light-green: #1ed760;
	--blue: #1e3264;
	--light-blue: #2a468d;
	--white: #fff;
	--grey: grey;
	--medium-grey: #d3d3d3;
	--light-grey: #f8f8f8;
	--black: black;

	--shadow-color: rgba(0, 0, 0, 0.2);
	--sticky-color: rgba(0, 0, 0, 0.5);
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 800;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.disabled {
	opacity: 0.5;
}

.container {
	max-width: 1170px;
	margin: auto;
	position: relative;
}

/* composant CTA button */

.ctaButton {
	background-color: var(--black);
	color: var(--white);
	font-weight: 800;
	text-transform: uppercase;
	padding: 1em 3em;
	display: inline-block;
	border-radius: 10000px;
	letter-spacing: 0.1em;
	text-align: center;
	transition: all 0.3s;
	border: solid thin var(--black);
}

/* classes modifier */

.ctaButton--blue {
	background-color: var(--blue);
	border-color: var(--blue);
	&:hover {
		background-color: var(--light-blue);
		border-color: var(--light-blue);
	}
}

.ctaButton--green {
	background-color: var(--green);
	border-color: var(--green);
	&:hover {
		background-color: var(--light-green);
		border-color: var(--light-green);
	}
}

.ctaButton--white {
	background-color: var(--white);
	color: var(--green);
	border-color: var(--green);
	&:hover {
		background-color: var(--light-green);
		border-color: var(--light-green);
		color: var(--white);
	}
}

/* Composant card */

.card {
	background-color: var(--white);
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 1rem var(--shadow-color);
	display: flex;
	flex-direction: column;
	transition: all 0.5s;
	cursor: pointer;
	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0 0 3rem var(--shadow-color);
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 400;
		margin: 0;
	}
	h3 {
		font-size: 2rem;
		margin: 0;
		small {
			font-weight: 400;
			font-size: 60%;
		}
	}
	ul {
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 1.25rem;
		margin: 1rem 0;
		border-top: solid thin var(--medium-grey);
		border-bottom: solid thin var(--medium-grey);
	}
	li {
		list-style-image: url("images/checklist.svg");
		padding-left: 0.25rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

header {
	background-color: transparent;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	color: var(--white);
	transition: all 1s;
	&.sticky {
		background-color: var(--sticky-color);
		padding: 0.25rem 0;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.container > a {
		line-height: 0;
		svg {
			width: 140px;
			height: auto;
		}
	}
	.menu-btn {
		display: none;
		color: var(--white);
		svg {
			width: 2rem;
			height: auto;
		}
	}
	nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}
		a {
			padding: 1em;
			display: block;
		}
	}
}

/* SECTION 1 */

.section1 {
	height: 40rem;
	background-image: url("images/hero-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	padding-bottom: 1rem;
	color: var(--white);
	h1 {
		font-size: 6rem;
		margin: 0;
	}
	h2 {
		font-size: 1.875rem;
	}
	.ctaButton {
		animation: fadeIn 1s;
	}
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		div {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
		footer {
			flex-shrink: 0;
			text-align: center;
		}
	}
}

.section2 {
	background-color: var(--white);
	.container {
		display: flex;
		flex-direction: column;
	}
	h1 {
		text-align: center;
		font-size: 3rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 0.875rem;
		font-weight: 400;
	}
	ul {
		list-style: none;
		padding: 0;
		display: flex;
	}
	li {
		width: 25%;
	}
	article {
		padding: 2rem;
		text-align: center;
	}
}

.section3 {
	background-color: var(--light-grey);
	h1 {
		text-align: center;
		font-size: 1.875rem;
		margin: 3rem 0;
	}
	.container {
		display: flex;
		flex-direction: column;
	}
	.card {
		height: 100%;
	}
	.container > ul {
		list-style: none;
		padding: 0;
		width: 70%;
		margin: 1rem auto;
		display: flex;
		justify-content: space-between;
		& > li {
			width: 48%;
		}
	}
	footer {
		text-align: center;
		padding-bottom: 1rem;
	}
}

main + footer,
body > footer {
	background-color: var(--black);
	color: var(--white);
	font-size: 0.8125rem;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	ul {
		list-style: none;
		padding: 0;
		display: flex;
	}
	a {
		padding: 1em;
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		margin: 0 2rem;
	}
}

@media screen and (max-width: 1024px) {
	header {
		.menu-btn {
			display: block;
		}
		nav {
			position: fixed;
			background-color: var(--blue);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: translateX(100%);
			transition: transform 1s;
			&.visible {
				transform: translateX(0%);
			}
			ul {
				height: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
		.menu-btn {
			display: block;
			z-index: 2;
		}
	}

	.section1 {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--shadow-color);
		}
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 1.5rem;
		}
	}

	.section2 {
		ul {
			flex-direction: column;
			li {
				width: 100%;
			}
		}
	}

	.section3 {
		.container {
			ul {
				width: 100%;
				flex-direction: column;
				gap: 2rem;
				li {
					width: 100%;
				}
			}
		}
	}

	body > footer {
		padding-bottom: 2rem;
		.container {
			flex-wrap: wrap;
			justify-content: center;
			nav {
				width: 100%;
			}
			ul {
				justify-content: center;
			}
		}
	}
}
